{% extends '@App/manager/app.html.twig' %}

{% block content %}

    <form id="form-data" class="ui large form" method="post" action="{{ path('app_manager_institution_add_post') }}">
        <div class="ui stacked field">
            <div class="field">
                <label>Instituição: *</label>
                <div class="ui left input">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Nome da instituição"
                        value=""
                    />
                </div>
            </div>

            <div class="field">
                <label>Nota geral: *</label>
                <div class="ui left input">
                    <input
                        type="tel"
                        id="generalscore"
                        name="generalscore"
                        placeholder="Nota geral da instituição"
                        value=""
                    />
                </div>
            </div>

            <div class="field">
                <button
                    id="form-button-send"
                    name="button"
                    class="ui button"
                    type="submit"
                >
                    Enviar
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}

    <script>
        /**
         * ready
         */

        $.fn.form.settings.rules.score = function (inputValue) {
            return inputValue >= 0 && inputValue <= 100;
        };

        $(document).ready(function() {
            $('#form-data').form({
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Por favor informe a instituição'
                            }
                        ]
                    },
                    generalscore: {
                        identifier: 'generalscore',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Por favor informe a nota geral instituição'
                            },
                            {
                                type   : 'score',
                                prompt : 'A nota deve ser no mínimo 0 e máximo 100'
                            }
                        ]
                    }
                },
                onSuccess: function () {
                    $("#form-button-send")
                        .html("Enviando...")
                        .addClass('disabled')
                    ;
                }
            });//form
        });
    </script>

{% endblock %}