{% extends '@App/manager/app.html.twig' %}

{% block content %}

    <form id="form-data" class="ui large form" method="post" action="{{ path('app_manager_course_add_post') }}">
        <div class="ui stacked field">
            <div class="field">
                <label>Instituição: *</label>
                <div class="ui left input">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Nome do curso"
                        value=""
                    />
                </div>
            </div>

            <div class="field">
                <button
                    id="form-button-send"
                    name="button"
                    class="ui button"
                    type="submit"
                >
                    Enviar
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}

    <script>
        /**
         * ready
         */
        $(document).ready(function() {
            $('#form-data').form({
                inline: true,
                on: 'blur',
                fields: {
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Por favor informe o curso'
                            }
                        ]
                    }
                },
                onSuccess: function () {
                    $("#form-button-send")
                        .html("Enviando...")
                        .addClass('disabled')
                    ;
                }
            });//form
        });
    </script>

{% endblock %}